<div class="list" id="earlyMorning">
  <ul>
      <li><a href="http://codepen.io/highslater/">My CodePen</a></li>
      <li><a href="https://github.com/highslater">My GitHub</a></li>
      <li><a href="http://www.codecademy.com/">CodeAcademy</a></li>
      <li><a href="https://c9.io/">Cloud9</a></li>
      <li><a href="http://www.favicomatic.com/">FavIcomatic</a></li> 
  </ul>
</div>


<div class="list" id="midMorning">
  <ul>
      <li><a href="https://news.ycombinator.com/">Hacker News</a></li>
      <li><a href="https://www.schneier.com/">Schneier on Security</a></li>
      <li><a href="https://en.gravatar.com/">Gravatar</a></li>
      <li><a href="http://www.w3schools.com/">W3 Schools</a></li>
      <li><a href="https://www.youtube.com/">You Tube</a></li>
  </ul>
</div>


<div class="list" id="earlyAfternoon">
  <ul>
      <li><a href="http://www.intellicast.com/Local/Weather.aspx?location=USMA0155">Intellicast</a></li>
      <li><a href="https://api.jquery.com/">jQuery API</a></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference">CSS reference</a></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">HTML Guide</a></li>
      <li><a href="http://docs.emmet.io/cheat-sheet/">Emmet Cheat Sheet</a></li>
  </ul>
</div>


<div class="list" id="lateAfternoon">
  <ul>
      <li><a href="http://learnpythonthehardway.org/book/">Learn Python the Hard Way</a></li>
      <li><a href="http://learnrubythehardway.org/book/">Learn Ruby the Hard Way</a></li>
      <li><a href="http://c.learncodethehardway.org/book/">Learn C the Hard Way</a></li>
      <li><a href="http://rails-4-0.railstutorial.org/book">Learn Rails 4.0</a></li>
      <li><a href="https://www.railstutorial.org/book">Learn Rails 4.2</a></li>
  </ul>
</div>