/** {
    border: 1px solid white;
}*/

div#test {
    color:green;
    font-size: 50px;
    
}

html body {
	background: black;
	opacity: 0.8;
}

nav {
    position: absolute;
    right: 1em;
    display: inline-block;
}

nav div {
    border-radius: 5px;
    display: inline-block;
    background: lightgray;
    border: 1px solid purple;
    transition: 1500ms;
}

nav div:hover {
    background: white;
    border: 1px solid lightpink;
    transition: 1500ms;
}

nav li {
    display: inline-block;
    padding: 10px 35px 10px 35px;
}

a {
    color: purple;
    cursor: pointer;
    text-decoration:none;
    font-size: 30px;
}

a:hover {
    color: darkviolet;
    
}

nav li a {
    color: indigo;
    transition: 1000ms;
    font-size: 30px;
  
}

nav li a:hover {
    color: pink;
    transition: 1000ms;
}

h1, h5 {
    margin-left: 25px;
    color:purple;
}

h1 a{
    margin-left: 50px;
    font-size: 40px;
}

h1 a:hover {
    text-decoration:underline;
}

div.list li {
    color:purple;
}

div.list li a {
	text-decoration: none;
	color: purple;
}

div.list li a:hover {
    color: darkviolet;
}



.hamburger {
  
  width: 40px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 1px;
  width: 100%;
  background: indigo;
  border-radius: 5px;
  opacity: 1;
  margin-top: 10px;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger.transform span:nth-child(2){
  opacity: 1;
  width:60%;
  height: 1px;
}

.hamburger.transform span:first-child{
  top: -3px;
  left: 8px;
  opacity: 1;
  width:81%;
  height: 1px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger.transform span:last-child{
  top: 18px;
  opacity: 1;
  width:81%;
  height: 1px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
